.statuscard{
    max-width: 17.5rem;
    max-height: 10rem;
    /* margin: 5rem auto; */
    box-shadow: 0 1px 8px rgba(131, 128, 128, 0.2);
    /* width: 30rem; */
    /* height: 15rem; */
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #181616;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}

.statuscard:hover{
    scale: 1.04;
    transform: rotateY(360deg);
    transition: 2s ease;

}

.statuscardicon{
    width: 30%;
    height: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.statuscardinfo{
    flex-grow: 1;
    text-align: center;
    /* z-index: ; */
    text-transform: capitalize;
}

.statustitle{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    align-items: center;

    font-weight: 600;

    color: rgb(96, 187, 187);
    /* box-shadow: rgba(255, 255, 255, 0.2) 3px 3px 8px 3px; */
    /* background-color: rgb(177, 107, 218); */

}

.statuscount{
    font-size: 2.5rem;
    margin-top: 0.7rem;
    /* box-shadow: rgba(245, 245, 245, 0.2) 3px 3px 8px 3px; */
   /* background-color: rgb(248, 204, 109); */
    padding-top: 0.2rem;
}

.aa{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}